@font-face {
    font-family: 'La Calston';
    src: url('fonts/lacalston.eot');
    src: url('fonts/lacalston.eot?#iefix') format('embedded-opentype'),
         url('fonts/lacalston.woff2') format('woff2'),
         url('fonts/lacalston.woff') format('woff'),
         url('fonts/lacalston.ttf')  format('truetype'),
         url('fonts/lacalston.svg#La Calston') format('svg');
}
